USE [master]
GO
/****** Object:  Database [DersProgramiDB]    Script Date: 25.09.2024 21:45:52 ******/
CREATE DATABASE [DersProgramiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DersProgramiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DersProgramiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DersProgramiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DersProgramiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DersProgramiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DersProgramiDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25.09.2024 21:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 25.09.2024 21:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NOT NULL,
	[DersSaati] [int] NOT NULL,
 CONSTRAINT [PK_Dersler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DersProgramlari]    Script Date: 25.09.2024 21:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DersProgramlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OgretmenId] [int] NOT NULL,
	[DersId] [int] NOT NULL,
	[Gun] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DersProgramlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogretmenler]    Script Date: 25.09.2024 21:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmenler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](max) NOT NULL,
	[Soyisim] [nvarchar](max) NOT NULL,
	[Branş] [nvarchar](max) NOT NULL,
	[ToplamDersSaati] [int] NOT NULL,
 CONSTRAINT [PK_Ogretmenler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_DersProgramlari_DersId]    Script Date: 25.09.2024 21:45:52 ******/
CREATE NONCLUSTERED INDEX [IX_DersProgramlari_DersId] ON [dbo].[DersProgramlari]
(
	[DersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DersProgramlari_OgretmenId]    Script Date: 25.09.2024 21:45:52 ******/
CREATE NONCLUSTERED INDEX [IX_DersProgramlari_OgretmenId] ON [dbo].[DersProgramlari]
(
	[OgretmenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DersProgramlari]  WITH CHECK ADD  CONSTRAINT [FK_DersProgramlari_Dersler_DersId] FOREIGN KEY([DersId])
REFERENCES [dbo].[Dersler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DersProgramlari] CHECK CONSTRAINT [FK_DersProgramlari_Dersler_DersId]
GO
ALTER TABLE [dbo].[DersProgramlari]  WITH CHECK ADD  CONSTRAINT [FK_DersProgramlari_Ogretmenler_OgretmenId] FOREIGN KEY([OgretmenId])
REFERENCES [dbo].[Ogretmenler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DersProgramlari] CHECK CONSTRAINT [FK_DersProgramlari_Ogretmenler_OgretmenId]
GO
USE [master]
GO
